// By Class

.v-app-bar {
    background-color: $neptune-blue !important;
}

.v-card {
    width: 25rem; 
}

.outer-label {
    padding-left: 0.3em;
    padding-bottom: 0.3em;
    color: $almost-white;
}

.task-card {
    width: 100%;
    padding: 0.6rem;
    transition: 0.4s;
}

.task-card-completed {
    width: 100%;
    padding: 0.6rem;
    opacity: 0.6;
    transition: 0.4s;
}

.task-text {
    color: $almost-black;
}

.main-list {
    max-height: 100vh;
    overflow: auto;
}

.sub-list {
    margin-left: $sub-list-margin;
}

.tiny-card {
    background-color: $almost-white !important;
    margin-left: 0.19rem;
    margin-right: 0.19rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.125rem;
    border-radius: $border-radius-default;
}

.warning-dialog {
    font-weight: 400 !important;
    word-break: normal !important;
    padding-bottom: 2rem !important;
}

.warning-dialog-action {
    padding: 1rem !important;
}

.progress-bar {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.custom-title {
    font-weight: 900 !important;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: $almost-white;
}

.my-switch {
    max-width: fit-content !important;
}

.switch-label {
    color: $almost-white !important;
    padding: 1rem;
    max-width: fit-content;
}

.test {
    max-width: fit-content !important;
}

// Text colors

.pink-red-text {
    color: $pink-red;
}

.spruce-text {
    color: $spruce;
}

// Font weights

.thin {
    font-weight: 400;
}

.thick {
    font-weight: 500;
}

.thic {
    font-weight: 700;
}

.thicc {
    font-family: 'Gotham Black' !important;
    font-size: 1.1em !important;
}

.input-row {
    width: 100%;
}

.input-col {
    overflow-y: scroll;
}

.subtask-create {
    margin-top: 0.5rem !important;
}

// Editing defaults - probably shouldn't do this
.v-picker {
    max-width: fit-content !important;
}

.v-picker__title {
    background-color: $spruce !important;
}

.v-date-picker-title__year {
    opacity: 1 !important;
    color: $almost-white !important;
}

.v-date-picker-header {
    background-color: $almost-white !important;
    font-size: 1.3rem !important;
}

.v-picker__title__btn {
    font-size: 2rem !important;
}

// By ID

#app {
    background-image: linear-gradient($neptune-blue, $glacier-blue);
}

#app-name {
    text-align: center;
    color: $almost-white;
}

#new-task {
    color: $almost-black;
}