$body-font-family: 'Gotham', sans-serif;
$font-size-root: 16px;
$border-radius-root: 6px;

// Colors!
$almost-white: #f5f3f4;
$pink-red: #d4768a;
$neptune-blue: #72b1bc;
$glacier-blue: #a6d5de;
$dark-glacier: #598d97;
$almost-black: #3f3f3f;
$spruce: #3c4f53;

$card-title-font-size: 2em;
$card-title-font-weight: bold;